$navbar-height: 8em;

#nav-canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: $navbar-height;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.navbar {
    height: $navbar-height;
    width: 100%;
    margin-bottom: 3em;

    img {
        margin-top: $navbar-height * 0.15;
        height: 70%;
    }
}

canvas.home-chart, canvas.tagAwardRate {
    height: 20em;
    width: 1000px;
}

#search-box {
    height: 3em;
    font-size: 1.5em;
}
