extends base.pug

block container
  div.row
    div.twelve.columns
      h3 Most popular tags
      canvas#recent-hacks.home-chart
  div.content
    h1 What is deephack? 
    p Deephack is a project built in 24, and it takes over 40000 hacks submitted to devpost and analises them using a deeplearnign model. Based on that it calculates a deephack score.
    h2 How to use deephack?
    p Simply look for a project title or a tag('lower case characters') if this tag matches a devpost tag you will get in depth information on that tag, otherwise deephack will give projects the match the title of the search.
    h3 Deephack score
    p The deephack score is based on a couple of factors and it isn't reliable as a prediction method. However after the hackathon is over deephack has over 75% of accuracy on predicting the amount of prizes a hack won. Incredibly high numbers occur due to some hackathons having a much higher number of participants.
    h3 I can't find my hack
    p Because tranning neural networks is an time consuming task, and we were not able to fully automate the process deephack is in a static state. New hacks are not updated since it's creation. However if you are intrested on this project submit an issue on our repo and we might update or even automate the whole system. 
      a(href="https://github.com/pedsm/deephack") Github
    h3 Full features
    ol
      li Deephack score calculation
      li Tag info(Win rate)
      li Tag correlation
      li Most used tags 

